/* Summary Tab display settings -----------------------------------------*/
.summary-list-title{
    width:100%;
    padding: 0px;
    font-size: 1.5em;
    text-align: center;
    color: var(--text-light);
    background-color: var(--BEE-blue);
}
[class*="-summary-tier-headers"]{
    background-color: var(--background-dark);
    color: var(--text-light);
}
[class*="-summary-list-headers"]{
    background-color: var(--background-dark);
    color: var(--text-light);
    border: 1px solid var(--background-dark);
}
[class*="-summary-row-options"]>div {
    margin:2px;
    padding: 0px 2px 0px 2px;
    font-size: .85em;
    text-align: center;
    word-wrap: break-word;
}
.window-summary-tier-size-flag{
  color:var(--warning-highlight);
}
.window-summary-tier-selected{
    background-color: var(--background-dark);
    font-size: 1.5em;
    color:var(--text-light);
}
#window-summary-tier-toggles{
    display:flex;
    place-items: end center;
}
#window-summary-tier-toggles>div{
    width:70px;
    text-align: center;

}
#window-summary-tier-toggles>div:hover{
    cursor:pointer;
    background-color: var(--background-dark);
}

.window-summary-tier>:nth-child(even){
    background-color: var(--background-light);
    border: 1px solid var(--background-dark);
}
.window-summary-tier>:last-child{
    margin-bottom: 10px;
}


.window-summary-tier-row{
    padding-bottom:5px;
    border: 1px solid rgba(0,0,0,0);
}
.window-summary-row-values{
    display:grid;
    padding: 0px 10px 0px 10px;
    column-gap: 5px;
    grid-template-columns: 50px 1fr 50px 1fr 1fr 50px 50px;
    place-items: center center;
}
.window-summary-row-options{
    grid-column: 2 / 7;
    display:grid;
    place-self: stretch stretch;
    grid-template-columns: repeat(6, 1fr);

}
.window-summary-row-option-included {
    border:2px solid rgb(40, 125, 40);
    background-color: rgba(180, 225, 180);
}
.window-summary-row-option-excluded {
    border:2px solid rgb(125, 40, 40);
    background-color: rgb(225, 180, 180);
}

/*GLASSBLOCK SUMMARY*/
#gb-summary-list>:nth-child(even){
    background-color: var(--background-light);
    border: 1px solid var(--background-dark);
}
.gb-summary-row{
    padding: 5px 0px 5px 0px;
}
#glassblock-summary-cont>div:nth-child(2){
    padding-top:0px;
}
.gb-summary-row-values{
    display:grid;
    padding: 0px 10px 0px 10px;
    column-gap: 5px;
    grid-template-columns: 100px 100px 100px 1fr;
    text-align: center;
}
.gb-summary-row-options{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
.gb-summary-row-options>div{
    border: 1px solid black;
    background-color: white;
}

/*ADDITIONS SUMMARY*/
.add-summary-row{
    padding: 5px 0px 5px 0px;
}
#add-summary-list>:nth-child(even){
    background-color: var(--background-light);
    border: 1px solid var(--background-dark);
}
#additions-summary-cont>div:nth-child(2){
    padding-top:0px;
}
.add-summary-row-values{
    display:grid;
    grid-template-columns: 1fr 250px;
    padding: 0px 20px 0px 10px;
    text-align: left;
}
.add-summary-row-amount:before{
    content: "$";
    vertical-align: super;
    font-size: .5em;
}
