

/* Referal Tables ------------------------------------------*/
#quote-tables-container{
    background-color: var(--color-2);
}

/* Referal Table Nav */
#quote-tables-nav{
    display:flex;
    background-color: var(--color-2);
    color:var(--text-color-1);
    position:sticky;
    top:0px;
}
.quote-table-switch:hover{
    background-color: var(--color-3);
    color: rgb(255, 255, 255);
    height: 20px;
}
.quote-table-switch{
    width:120px;
    text-align: center;
    margin-top:10px;
    padding:5px 5px 20px 5px;
    background-color: var(--color-2);
    color:var(--text-color-1);
    cursor: pointer;
    font-size: 15pt;
    font-weight: bold;
}
.quote-table-switch-selected{
    background-color: var(--color-1);
    color:rgb(255, 255, 255);
}
/*------------------*/

/* Referal Tables */
.quote-table{
    border-collapse: collapse;
}
.quote-table>tr:nth-child(1){
    position:sticky;
    top:45px;
}
.quote-table>tr>td{
    min-width: 120px;
    max-width: 200px;
        
    padding:3px;
    margin:0px;
    color:var(--text-color-2);
    font-size: 9.5pt;
    align-self: center;
    justify-self: center;
    word-wrap: break-word;
    text-align: center;
}
.quote-table>tr:nth-child(1)>td{
    font-size: 15pt;
    font-weight: bold;
    background-color: var(--color-1);
    color:var(--text-color-1);
}
.quote-table>tr:nth-child(2n-1){
    background-color: rgb(255, 255, 255);
}
.quote-table>tr:nth-child(1n+2):hover{
    background-color: rgba(255, 252, 62, 0.637);
}
/*------------------*/

/* Referal Table EditBar */
.quote-tablerow-editbar-butt:hover{
    cursor:pointer;
}
.quote-tablerow-editbar{
    display:flex;
    justify-content: space-evenly;
    border-left: 2px solid rgba(56, 50, 50, 0.6);
    background-color: rgb(91, 99, 172,.2);
}
.quote-tablerow-editbar>img{
    padding: 5px;
    height:100%;
    cursor: pointer;
}

.request-appr{
    background-color: rgba(2, 160, 50, 0.7);
}
.request-deny{
    background-color: rgba(206, 22, 22, 0.7);
}
.request-appr:hover{
    background-color: rgba(2, 160, 50, 1);
}
.request-deny:hover{
    background-color: rgba(206, 22, 22, 1);
}
/*-----------------------*/
/*----------------------------------------------------------*/